## Import Dependencies

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
# read in the csv's
year_13 = pd.read_csv('Data/cbb13.csv')
year_14 = pd.read_csv('Data/cbb14.csv')
year_15 = pd.read_csv('Data/cbb15.csv')
year_16 = pd.read_csv('Data/cbb16.csv')
year_17 = pd.read_csv('Data/cbb17.csv')
year_18 = pd.read_csv('Data/cbb18.csv')
year_19 = pd.read_csv('Data/cbb19.csv')
year_21 = pd.read_csv('Data/cbb21.csv')

In [3]:
# Add the year column
year_13['YEAR'] = 2013
year_14['YEAR'] = 2014
year_15['YEAR'] = 2015
year_16['YEAR'] = 2016
year_17['YEAR'] = 2017
year_18['YEAR'] = 2018
year_19['YEAR'] = 2019
year_21['YEAR'] = 2021

## Perform Data Cleaning

In [4]:
# Drop the teams that did not made it to the tournament each year (seed is NaN)
year_13 = year_13.dropna(subset=['SEED'])
year_14 = year_14.dropna(subset=['SEED'])
year_15 = year_15.dropna(subset=['SEED'])
year_16 = year_16.dropna(subset=['SEED'])
year_17 = year_17.dropna(subset=['SEED'])
year_18 = year_18.dropna(subset=['SEED'])
year_19 = year_19.dropna(subset=['SEED'])
year_21 = year_21.dropna(subset=['SEED'])

In [5]:
# Merge the dataframes for each year for teams that made the tournament

combined_df = pd.merge(year_13,year_14, how='outer')
combined_df = pd.merge(combined_df,year_15, how='outer')
combined_df = pd.merge(combined_df,year_16, how='outer')
combined_df = pd.merge(combined_df,year_17, how='outer')
combined_df = pd.merge(combined_df,year_18, how='outer')
combined_df = pd.merge(combined_df,year_19, how='outer')
combined_df = pd.merge(combined_df,year_21, how='outer')

In [6]:
combined_df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,Indiana,B10,36,29,121.0,89.7,0.9692,54.7,44.0,19.3,...,27.0,52.0,43.2,40.3,30.4,67.8,7.8,S16,1.0,2013
1,Gonzaga,WCC,34,31,118.9,90.2,0.9599,54.9,44.9,17.2,...,29.9,55.0,42.1,36.5,32.9,65.1,7.6,R32,1.0,2013
2,Kansas,B12,37,31,111.6,86.2,0.9514,53.3,41.5,20.3,...,32.0,52.9,39.3,36.4,30.3,67.7,7.5,S16,1.0,2013
3,Louisville,BE,40,35,115.9,84.5,0.9743,50.6,44.8,18.3,...,34.9,50.8,43.4,33.3,31.8,67.1,9.0,Champions,1.0,2013
4,Georgetown,BE,32,25,107.6,85.0,0.9381,51.1,43.0,20.1,...,35.3,50.2,41.4,35.3,30.7,62.5,6.6,R64,2.0,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,Mount St. Mary's,NEC,22,12,95.7,100.6,0.3593,48.7,45.5,20.1,...,24.6,47.7,45.6,33.7,30.1,62.2,-7.2,NaN,16.0,2021
540,Hartford,AE,23,15,97.3,99.6,0.4345,50.4,47.6,19.0,...,25.0,51.3,50.7,32.7,28.7,66.9,-4.9,NaN,16.0,2021
541,Norfolk St.,MEAC,21,16,99.4,104.1,0.3698,49.7,47.4,17.8,...,42.0,46.1,47.2,37.4,31.7,67.9,-5.0,NaN,16.0,2021
542,Texas Southern,SWAC,23,16,97.3,103.5,0.3307,48.3,46.5,21.4,...,33.8,51.0,45.2,27.7,32.4,71.8,-4.5,NaN,16.0,2021
543,Appalachian St.,SB,24,17,99.0,104.4,0.3512,47.7,50.4,17.5,...,24.0,46.7,50.4,32.6,33.5,65.4,-7.7,NaN,16.0,2021

In [7]:
# Drop the CONF, G, and POSTSEASON columns as these are not needed for our analysis
combined_df = combined_df.drop(columns=['CONF','G','POSTSEASON'])

In [8]:
combined_df.head()

,TEAM,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,YEAR
0,Indiana,29,121.0,89.7,0.9692,54.7,44.0,19.3,20.9,39.0,...,45.8,27.0,52.0,43.2,40.3,30.4,67.8,7.8,1.0,2013
1,Gonzaga,31,118.9,90.2,0.9599,54.9,44.9,17.2,20.8,37.8,...,40.8,29.9,55.0,42.1,36.5,32.9,65.1,7.6,1.0,2013
2,Kansas,31,111.6,86.2,0.9514,53.3,41.5,20.3,18.4,33.8,...,39.5,32.0,52.9,39.3,36.4,30.3,67.7,7.5,1.0,2013
3,Louisville,35,115.9,84.5,0.9743,50.6,44.8,18.3,27.0,38.2,...,40.0,34.9,50.8,43.4,33.3,31.8,67.1,9.0,1.0,2013
4,Georgetown,25,107.6,85.0,0.9381,51.1,43.0,20.1,22.4,30.4,...,36.8,35.3,50.2,41.4,35.3,30.7,62.5,6.6,2.0,2013

In [9]:
# Read in the tournament results csv file
tourney_results = pd.read_csv('Data/data_cleaned_updated.csv')

In [10]:
tourney_results.head()

   YEAR  ROUND  SEED      TEAM  SCORE  SEED.1      TEAM.1  SCORE.1
0  2021      6     1    Baylor     86       1     Gonzaga       70
1  2021      5    11      UCLA     90       1     Gonzaga       93
2  2021      5     1    Baylor     78       2     Houston       59
3  2021      4     2   Houston     67      12  Oregon St.       61
4  2021      4     3  Arkansas     72       1      Baylor       81

In [11]:
# Keep only the results of games from 2013 to 2021
new_tourney_results_df = tourney_results.iloc[0:535]

In [12]:
new_tourney_results_df

,YEAR,ROUND,SEED,TEAM,SCORE,SEED.1,TEAM.1,SCORE.1
0,2021,6,1,Baylor,86,1,Gonzaga,70
1,2021,5,11,UCLA,90,1,Gonzaga,93
2,2021,5,1,Baylor,78,2,Houston,59
3,2021,4,2,Houston,67,12,Oregon St.,61
4,2021,4,3,Arkansas,72,1,Baylor,81
...,...,...,...,...,...,...,...,...
530,2013,1,5,UNLV,61,12,California,64
531,2013,0,16,Liberty,72,16,North Carolina A&T,73
532,2013,0,11,Middle Tennessee,54,11,Saint Mary's,67
533,2013,0,16,James Madison,68,16,LIU Brooklyn,55
534,2013,0,13,La Salle,80,13,Boise St.,71

In [13]:
# Drop ROUND column as this is not needed for our analysis
new_tourney_results_df = new_tourney_results_df.drop(columns=['ROUND'])

In [14]:
new_tourney_results_df.head()

   YEAR  SEED      TEAM  SCORE  SEED.1      TEAM.1  SCORE.1
0  2021     1    Baylor     86       1     Gonzaga       70
1  2021    11      UCLA     90       1     Gonzaga       93
2  2021     1    Baylor     78       2     Houston       59
3  2021     2   Houston     67      12  Oregon St.       61
4  2021     3  Arkansas     72       1      Baylor       81

In [15]:
# Merge the two datasets and add a prefix to the stats columns to indicate which team they're for
total_df = new_tourney_results_df.merge(combined_df.add_prefix('Team1'), how='left', left_on=['TEAM', 'YEAR'], 
                                        right_on=['Team1TEAM', 'Team1YEAR']).drop(['Team1TEAM'], axis=1).merge(combined_df.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM', 'YEAR'], right_on=['Team2TEAM', 'Team2YEAR']).drop(['Team2TEAM'],axis=1)

In [16]:
total_df

,YEAR,SEED,TEAM,SCORE,SEED.1,TEAM.1,SCORE.1,Team1W,Team1ADJOE,Team1ADJDE,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team2SEED,Team2YEAR
0,2021,1,Baylor,86,1,Gonzaga,70,22,123.2,94.5,...,27.0,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1.0,2021
1,2021,11,UCLA,90,1,Gonzaga,93,17,112.3,97.5,...,32.6,28.0,50.6,49.4,36.7,35.1,64.7,1.0,11.0,2021
2,2021,1,Baylor,78,2,Houston,59,22,123.2,94.5,...,27.0,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1.0,2021
3,2021,2,Houston,67,12,Oregon St.,61,24,120.6,90.9,...,30.7,42.4,49.9,43.0,35.5,28.5,65.0,4.0,2.0,2021
4,2021,3,Arkansas,72,1,Baylor,81,22,110.4,91.2,...,32.7,29.3,51.9,46.9,33.9,32.6,73.1,4.6,3.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,2013,5,UNLV,61,12,California,64,24,104.7,88.4,...,36.7,29.6,48.9,42.6,32.6,31.6,69.3,1.8,5.0,2013
531,2013,16,Liberty,72,16,North Carolina A&T,73,12,100.1,109.7,...,38.4,38.5,44.9,48.6,37.0,30.9,65.7,-15.6,16.0,2013
532,2013,11,Middle Tennessee,54,11,Saint Mary's,67,28,105.1,91.0,...,41.4,42.8,49.2,43.9,37.7,30.3,64.9,0.7,11.0,2013
533,2013,16,James Madison,68,16,LIU Brooklyn,55,21,98.5,99.4,...,36.8,39.2,46.2,46.9,33.6,34.7,64.2,-8.9,16.0,2013
534,2013,13,La Salle,80,13,Boise St.,71,24,112.0,96.2,...,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,13.0,2013

In [17]:
# Add a new column that will contain '1' if Team1 won the game and a '0' if Team1 lost
outcomes = [total_df['SCORE'] > total_df['SCORE.1'],
           total_df['SCORE'] < total_df['SCORE.1']]

results = [1,0]

# This column will be our target for the learning model
total_df['Team1Wins'] = np.select(outcomes, results, 1)

In [18]:
total_df.head()

,YEAR,SEED,TEAM,SCORE,SEED.1,TEAM.1,SCORE.1,Team1W,Team1ADJOE,Team1ADJDE,...,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team2SEED,Team2YEAR,Team1Wins
0,2021,1,Baylor,86,1,Gonzaga,70,22,123.2,94.5,...,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1.0,2021,1
1,2021,11,UCLA,90,1,Gonzaga,93,17,112.3,97.5,...,28.0,50.6,49.4,36.7,35.1,64.7,1.0,11.0,2021,0
2,2021,1,Baylor,78,2,Houston,59,22,123.2,94.5,...,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1.0,2021,1
3,2021,2,Houston,67,12,Oregon St.,61,24,120.6,90.9,...,42.4,49.9,43.0,35.5,28.5,65.0,4.0,2.0,2021,1
4,2021,3,Arkansas,72,1,Baylor,81,22,110.4,91.2,...,29.3,51.9,46.9,33.9,32.6,73.1,4.6,3.0,2021,0

# Filtering Data for UCLA

In [19]:
# Drop YEAR, SCORE, TEAM, Team1SEED, TEAM.1, SCORE.1, Team2SEED, Team1YEAR, Team2YEAR as these aren't neeeded for our analysis
total_df = total_df.drop(columns=['YEAR', 'SCORE', 'SCORE.1', 'TEAM','Team1SEED', 'TEAM.1', 'Team2SEED', 'Team1YEAR', 'Team2YEAR'])

# Rename the SEED and SEED.1 columns
total_df.rename(columns={'SEED': 'Team1Seed', 'SEED.1': 'Team2Seed'})

total_df.head()

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,1,1,22,123.2,94.5,0.9548,57.5,49.1,17.6,24.6,...,30.9,27.0,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1
1,11,1,17,112.3,97.5,0.8350,52.0,50.7,16.6,17.6,...,24.4,32.6,28.0,50.6,49.4,36.7,35.1,64.7,1.0,0
2,1,2,22,123.2,94.5,0.9548,57.5,49.1,17.6,24.6,...,30.9,27.0,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1
3,2,12,24,120.6,90.9,0.9626,51.3,42.9,16.3,21.6,...,28.0,30.7,42.4,49.9,43.0,35.5,28.5,65.0,4.0,1
4,3,1,22,110.4,91.2,0.8997,51.5,47.6,17.4,20.3,...,26.2,32.7,29.3,51.9,46.9,33.9,32.6,73.1,4.6,0

In [20]:
# Define the X (features) and y (target) sets
y = total_df["Team1Wins"].values
X = total_df.drop("Team1Wins", axis=1)

In [21]:
# Import Train Test Split
from sklearn.model_selection import train_test_split

In [22]:
# Divide data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

## Create Machine Learning Model - Logistic Regression

In [23]:
# # Import Logistic Regression
# from sklearn.linear_model import LogisticRegression

# # Create Logistic Regression model
# march_madness_classifier = LogisticRegression(max_iter=10000)

# # Fit(Train) the model using the training data
# march_madness_classifier.fit(X_train, y_train)

# # Validate the model using the testing data
# print(f"Training Data Score: {march_madness_classifier.score(X_train, y_train)}")
# print(f"Testing Data Score: {march_madness_classifier.score(X_test, y_test)}")

## Create Machine Learning Model - XGBoost

In [24]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
march_madness_classifier = XGBClassifier()
march_madness_classifier.fit(X_train, y_train)
xgbPredictions = march_madness_classifier.predict(X_test)
print(f"Training Data Score: {march_madness_classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {march_madness_classifier.score(X_test, y_test)}")

Training Data Score: 0.9925187032418953
Testing Data Score: 0.6716417910447762

## Apply Model to This Year's Tournament Field

In [25]:
# Read in the current year's stats
year_23 = pd.read_csv('Data/cbb23.csv')

In [26]:
year_23.head()

,TEAM,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB
0,Houston,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
1,Alabama,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
2,UCLA,25,114.6,89.8,0.9425,51.6,46.5,15.3,24.3,34.1,28.3,25.5,26.8,50.9,46.9,35.4,30.7,66.5,6.8
3,Tennessee,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,37.5,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0
4,Purdue,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5

## Round Zero (First Four)

In [27]:
# Read in the data for the first four
round_zero_matchups = pd.read_csv('Data/round_zero.csv')
round_zero_matchups

   SEED             TEAM  SEED.1               TEAM.1
0    16     Morehead St.      16           Alcorn St.
1    11        Wisconsin      11          Arizona St.
2    16           Howard      16  Fairleigh Dickinson
3    11  Mississippi St.      11            Boise St.

In [28]:
# Create combined dataframe for round zero
round_zero_combined_df = round_zero_matchups.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_zero_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,16,Morehead St.,16,Alcorn St.,21,102.8,104.9,0.4438,49.8,49.8,...,27.5,24.5,35.9,27.9,47.4,50.1,35.8,32.7,64.0,-5.4
1,11,Wisconsin,11,Arizona St.,16,106.4,95.8,0.7697,48.8,49.6,...,21.7,25.0,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0
2,16,Howard,16,Fairleigh Dickinson,18,103.4,109.3,0.3447,51.5,52.6,...,33.2,31.2,31.7,34.5,49.5,52.7,36.8,34.9,69.4,-7.3
3,11,Mississippi St.,11,Boise St.,19,104.8,91.8,0.8212,47.4,45.4,...,34.4,29.1,34.1,27.8,50.8,45.3,27.6,30.3,63.9,0.9

In [29]:
# Drop the TEAM and TEAM.1 columns
round_zero_combined_df = round_zero_combined_df.drop(columns=['TEAM','TEAM.1'])
round_zero_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,16,16,21,102.8,104.9,0.4438,49.8,49.8,19.0,15.8,...,27.5,24.5,35.9,27.9,47.4,50.1,35.8,32.7,64.0,-5.4
1,11,11,16,106.4,95.8,0.7697,48.8,49.6,13.4,18.4,...,21.7,25.0,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0
2,16,16,18,103.4,109.3,0.3447,51.5,52.6,23.1,21.1,...,33.2,31.2,31.7,34.5,49.5,52.7,36.8,34.9,69.4,-7.3
3,11,11,19,104.8,91.8,0.8212,47.4,45.4,19.1,22.7,...,34.4,29.1,34.1,27.8,50.8,45.3,27.6,30.3,63.9,0.9

## Use Our Model to Predict Round Zero

In [30]:
round_zero_predictions = march_madness_classifier.predict(round_zero_combined_df)
round_zero_combined_df["Team1Wins"] = round_zero_predictions
round_zero_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,16,16,21,102.8,104.9,0.4438,49.8,49.8,19.0,15.8,...,24.5,35.9,27.9,47.4,50.1,35.8,32.7,64.0,-5.4,1
1,11,11,16,106.4,95.8,0.7697,48.8,49.6,13.4,18.4,...,25.0,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0,1
2,16,16,18,103.4,109.3,0.3447,51.5,52.6,23.1,21.1,...,31.2,31.7,34.5,49.5,52.7,36.8,34.9,69.4,-7.3,1
3,11,11,19,104.8,91.8,0.8212,47.4,45.4,19.1,22.7,...,29.1,34.1,27.8,50.8,45.3,27.6,30.3,63.9,0.9,0

In [31]:
# Create a column of winning teams
Winner0 = []
for i in range(len(round_zero_combined_df)):
    if round_zero_combined_df.loc[i,"Team1Wins"] == 1:
        Winner0.append(round_zero_matchups.loc[i,"TEAM"])
    else:
        Winner0.append(round_zero_matchups.loc[i,"TEAM.1"])
        
Winner0

['Morehead St.', 'Wisconsin', 'Howard', 'Boise St.']

In [32]:
# Add column of winning teams to dataframe
round_zero_combined_df["Winner"] = Winner0
round_zero_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,16,16,21,102.8,104.9,0.4438,49.8,49.8,19.0,15.8,...,35.9,27.9,47.4,50.1,35.8,32.7,64.0,-5.4,1,Morehead St.
1,11,11,16,106.4,95.8,0.7697,48.8,49.6,13.4,18.4,...,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0,1,Wisconsin
2,16,16,18,103.4,109.3,0.3447,51.5,52.6,23.1,21.1,...,31.7,34.5,49.5,52.7,36.8,34.9,69.4,-7.3,1,Howard
3,11,11,19,104.8,91.8,0.8212,47.4,45.4,19.1,22.7,...,34.1,27.8,50.8,45.3,27.6,30.3,63.9,0.9,0,Boise St.

## Round 1

In [69]:
# Read in the first round matchups
round_one = pd.read_csv('Data/round_one_xgboost.csv')
round_one

    SEED           TEAM  SEED.1                  TEAM.1
0      1        Houston      16           UNC Asheville
1      8           Iowa       9      North Carolina St.
2      8      Texas A&M       9                Illinois
3      5  San Diego St.      12            Oral Roberts
4      5            TCU      12                 Bradley
5      4        Indiana      13           Southern Miss
6      4         Xavier      13             Utah Valley
7      3      Marquette      14                 Colgate
8      3        Arizona      14               UC Irvine
9      7           Duke      10                     USC
10     7     Providence      10                 Memphis
11     2          Texas      15            Kennesaw St.
12     2         Baylor      15      Eastern Washington
13     1         Kansas      16  Texas A&M Corpus Chris
14     8       Arkansas       9              Pittsburgh
15     8       Missouri       9                 Rutgers
16     5       Miami FL      12                    Iona
17     5   Saint Mary's      12                     VCU
18     4    Connecticut      13                    Yale
19     4       Virginia      13                 Hofstra
20     6      Creighton      11                  Nevada
21     6       Iowa St.      11                  Auburn
22     3      Tennessee      14                  Furman
23     3        Gonzaga      14                  Toledo
24     7   Michigan St.      10        Florida Atlantic
25     7       Maryland      10           West Virginia
26     2     Kansas St.      15                 Vermont
27     2           UCLA      15          Youngstown St.
28     1        Alabama      16            Morehead St.
29     6       Kentucky      11               Wisconsin
30     1         Purdue      16                  Howard
31     6   Northwestern      11               Boise St.

In [70]:
# Create combined dataframe for round one
round_one_combined_df = round_one.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_one_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,1,Houston,16,UNC Asheville,27,121.4,91.8,0.9610,53.7,42.0,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
1,8,Iowa,9,North Carolina St.,18,120.5,106.3,0.8084,51.8,53.0,...,31.7,27.9,32.7,23.6,52.3,52.4,33.9,36.1,70.2,0.6
2,8,Texas A&M,9,Illinois,21,116.4,97.2,0.8883,49.9,47.8,...,36.8,29.7,46.7,36.9,50.0,47.0,33.1,32.4,66.4,2.1
3,5,San Diego St.,12,Oral Roberts,23,115.1,93.2,0.9182,51.2,48.3,...,31.4,24.8,34.3,30.8,50.6,51.5,34.9,29.0,66.9,5.2
4,5,TCU,12,Bradley,19,113.4,95.4,0.8792,50.7,47.8,...,32.5,30.7,34.6,29.2,53.6,48.7,29.1,30.7,70.3,2.1
5,4,Indiana,13,Southern Miss,20,115.5,98.1,0.8668,54.4,46.9,...,29.1,27.4,30.0,29.9,53.3,46.0,38.2,32.1,68.5,3.4
6,4,Xavier,13,Utah Valley,21,119.6,100.4,0.8821,56.0,50.5,...,31.0,25.5,30.7,26.8,54.4,48.6,39.6,36.1,71.2,3.5
7,3,Marquette,14,Colgate,23,120.7,100.3,0.8934,56.6,52.0,...,26.8,31.4,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2
8,3,Arizona,14,UC Irvine,24,120.6,98.0,0.9153,56.4,47.3,...,31.9,25.8,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3
9,7,Duke,10,USC,21,111.9,96.3,0.8490,50.7,46.7,...,37.1,25.9,29.1,23.1,50.8,46.8,33.7,31.1,65.6,1.9
10,7,Providence,10,Memphis,21,116.4,100.6,0.8426,52.0,48.5,...,35.3,26.0,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2
11,2,Texas,15,Kennesaw St.,22,117.5,96.3,0.9079,53.6,48.8,...,29.0,29.2,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8
12,2,Baylor,15,Eastern Washington,22,123.8,100.8,0.9142,53.1,51.0,...,35.6,30.1,37.6,31.3,51.5,53.0,36.8,31.9,67.1,6.4
13,1,Kansas,16,Texas A&M Corpus Chris,24,115.7,94.5,0.9114,52.9,46.9,...,29.9,28.8,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2
14,8,Arkansas,9,Pittsburgh,19,112.7,93.3,0.8978,52.7,45.8,...,30.1,27.5,38.1,37.4,54.6,45.4,31.9,31.2,69.9,1.3
15,8,Missouri,9,Rutgers,21,119.2,105.5,0.8028,55.4,51.9,...,27.5,38.1,30.9,35.8,55.9,51.1,36.5,35.4,69.8,2.9
16,5,Miami FL,12,Iona,23,119.1,103.5,0.8349,55.0,50.9,...,32.0,29.4,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4
17,5,Saint Mary's,12,VCU,25,114.1,90.9,0.9317,52.8,45.9,...,33.3,21.7,30.2,29.9,51.4,44.8,36.8,32.2,62.3,3.6
18,4,Connecticut,13,Yale,22,119.7,96.3,0.9241,53.0,45.4,...,39.1,25.9,33.1,40.0,52.6,45.7,35.6,29.8,67.5,4.0
19,4,Virginia,13,Hofstra,21,111.0,96.2,0.8386,51.3,48.8,...,25.4,24.8,34.5,25.0,49.5,46.6,36.3,34.7,61.8,3.2
20,6,Creighton,11,Nevada,18,114.9,95.2,0.8969,53.8,47.4,...,25.5,22.9,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3
21,6,Iowa St.,11,Auburn,17,109.8,92.8,0.8742,50.5,49.7,...,32.7,27.0,27.6,40.2,50.6,49.7,33.5,33.1,64.3,1.3
22,3,Tennessee,14,Furman,21,112.0,87.9,0.9417,49.8,41.0,...,37.5,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0
23,3,Gonzaga,14,Toledo,25,124.8,101.7,0.9127,57.9,52.2,...,30.9,25.4,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0
24,7,Michigan St.,10,Florida Atlantic,17,112.9,96.5,0.8595,51.2,47.2,...,27.3,25.6,25.8,29.1,48.0,48.3,38.5,30.4,65.1,1.9
25,7,Maryland,10,West Virginia,20,114.5,97.8,0.8597,51.5,47.1,...,30.2,27.2,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8
26,2,Kansas St.,15,Vermont,22,112.0,94.2,0.8794,51.1,47.0,...,30.8,29.6,38.2,37.2,51.4,48.9,33.7,29.1,69.8,5.0
27,2,UCLA,15,Youngstown St.,25,114.6,89.8,0.9425,51.6,46.5,...,34.1,28.3,25.5,26.8,50.9,46.9,35.4,30.7,66.5,6.8
28,1,Alabama,16,Morehead St.,25,118.4,91.4,0.9515,53.4,41.8,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
29,6,Kentucky,11,Wisconsin,20,118.1,101.0,0.8579,51.7,48.9,...,38.2,25.2,30.7,29.2,50.2,48.6,36.8,32.9,65.8,2.5
30,1,Purdue,16,Howard,24,119.1,94.4,0.9351,52.3,46.8,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
31,6,Northwestern,11,Boise St.,20,110.5,96.0,0.8338,47.5,48.4,...,28.1,27.6,30.4,30.8,47.3,46.5,32.0,33.9,65.3,2.0

In [71]:
# Drop the TEAM and TEAM.1 columns
round_one_combined_df = round_one_combined_df.drop(columns=['TEAM','TEAM.1'])
round_one_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,1,16,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
1,8,9,18,120.5,106.3,0.8084,51.8,53.0,14.2,18.7,...,31.7,27.9,32.7,23.6,52.3,52.4,33.9,36.1,70.2,0.6
2,8,9,21,116.4,97.2,0.8883,49.9,47.8,18.6,20.8,...,36.8,29.7,46.7,36.9,50.0,47.0,33.1,32.4,66.4,2.1
3,5,12,23,115.1,93.2,0.9182,51.2,48.3,17.8,19.8,...,31.4,24.8,34.3,30.8,50.6,51.5,34.9,29.0,66.9,5.2
4,5,12,19,113.4,95.4,0.8792,50.7,47.8,17.0,22.3,...,32.5,30.7,34.6,29.2,53.6,48.7,29.1,30.7,70.3,2.1
5,4,13,20,115.5,98.1,0.8668,54.4,46.9,17.6,16.6,...,29.1,27.4,30.0,29.9,53.3,46.0,38.2,32.1,68.5,3.4
6,4,13,21,119.6,100.4,0.8821,56.0,50.5,17.9,16.9,...,31.0,25.5,30.7,26.8,54.4,48.6,39.6,36.1,71.2,3.5
7,3,14,23,120.7,100.3,0.8934,56.6,52.0,15.2,23.0,...,26.8,31.4,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2
8,3,14,24,120.6,98.0,0.9153,56.4,47.3,18.4,17.1,...,31.9,25.8,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3
9,7,10,21,111.9,96.3,0.8490,50.7,46.7,18.8,17.2,...,37.1,25.9,29.1,23.1,50.8,46.8,33.7,31.1,65.6,1.9
10,7,10,21,116.4,100.6,0.8426,52.0,48.5,17.1,16.6,...,35.3,26.0,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2
11,2,15,22,117.5,96.3,0.9079,53.6,48.8,16.7,22.6,...,29.0,29.2,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8
12,2,15,22,123.8,100.8,0.9142,53.1,51.0,18.0,19.7,...,35.6,30.1,37.6,31.3,51.5,53.0,36.8,31.9,67.1,6.4
13,1,16,24,115.7,94.5,0.9114,52.9,46.9,17.6,20.6,...,29.9,28.8,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2
14,8,9,19,112.7,93.3,0.8978,52.7,45.8,18.2,20.7,...,30.1,27.5,38.1,37.4,54.6,45.4,31.9,31.2,69.9,1.3
15,8,9,21,119.2,105.5,0.8028,55.4,51.9,16.4,24.5,...,27.5,38.1,30.9,35.8,55.9,51.1,36.5,35.4,69.8,2.9
16,5,12,23,119.1,103.5,0.8349,55.0,50.9,16.4,18.5,...,32.0,29.4,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4
17,5,12,25,114.1,90.9,0.9317,52.8,45.9,16.3,19.3,...,33.3,21.7,30.2,29.9,51.4,44.8,36.8,32.2,62.3,3.6
18,4,13,22,119.7,96.3,0.9241,53.0,45.4,18.7,19.7,...,39.1,25.9,33.1,40.0,52.6,45.7,35.6,29.8,67.5,4.0
19,4,13,21,111.0,96.2,0.8386,51.3,48.8,13.8,19.8,...,25.4,24.8,34.5,25.0,49.5,46.6,36.3,34.7,61.8,3.2
20,6,11,18,114.9,95.2,0.8969,53.8,47.4,16.6,14.7,...,25.5,22.9,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3
21,6,11,17,109.8,92.8,0.8742,50.5,49.7,19.2,25.4,...,32.7,27.0,27.6,40.2,50.6,49.7,33.5,33.1,64.3,1.3
22,3,14,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,...,37.5,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0
23,3,14,25,124.8,101.7,0.9127,57.9,52.2,14.8,18.8,...,30.9,25.4,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0
24,7,10,17,112.9,96.5,0.8595,51.2,47.2,16.7,14.8,...,27.3,25.6,25.8,29.1,48.0,48.3,38.5,30.4,65.1,1.9
25,7,10,20,114.5,97.8,0.8597,51.5,47.1,16.3,18.3,...,30.2,27.2,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8
26,2,15,22,112.0,94.2,0.8794,51.1,47.0,19.7,21.1,...,30.8,29.6,38.2,37.2,51.4,48.9,33.7,29.1,69.8,5.0
27,2,15,25,114.6,89.8,0.9425,51.6,46.5,15.3,24.3,...,34.1,28.3,25.5,26.8,50.9,46.9,35.4,30.7,66.5,6.8
28,1,16,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
29,6,11,20,118.1,101.0,0.8579,51.7,48.9,17.1,17.2,...,38.2,25.2,30.7,29.2,50.2,48.6,36.8,32.9,65.8,2.5
30,1,16,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
31,6,11,20,110.5,96.0,0.8338,47.5,48.4,15.0,21.7,...,28.1,27.6,30.4,30.8,47.3,46.5,32.0,33.9,65.3,2.0

## Use Our Model to Predict Round 1

In [72]:
round_one_predictions = march_madness_classifier.predict(round_one_combined_df)
round_one_combined_df["Team1Wins"] = round_one_predictions
round_one_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,1,16,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1
1,8,9,18,120.5,106.3,0.8084,51.8,53.0,14.2,18.7,...,27.9,32.7,23.6,52.3,52.4,33.9,36.1,70.2,0.6,1
2,8,9,21,116.4,97.2,0.8883,49.9,47.8,18.6,20.8,...,29.7,46.7,36.9,50.0,47.0,33.1,32.4,66.4,2.1,0
3,5,12,23,115.1,93.2,0.9182,51.2,48.3,17.8,19.8,...,24.8,34.3,30.8,50.6,51.5,34.9,29.0,66.9,5.2,0
4,5,12,19,113.4,95.4,0.8792,50.7,47.8,17.0,22.3,...,30.7,34.6,29.2,53.6,48.7,29.1,30.7,70.3,2.1,0
5,4,13,20,115.5,98.1,0.8668,54.4,46.9,17.6,16.6,...,27.4,30.0,29.9,53.3,46.0,38.2,32.1,68.5,3.4,1
6,4,13,21,119.6,100.4,0.8821,56.0,50.5,17.9,16.9,...,25.5,30.7,26.8,54.4,48.6,39.6,36.1,71.2,3.5,0
7,3,14,23,120.7,100.3,0.8934,56.6,52.0,15.2,23.0,...,31.4,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2,1
8,3,14,24,120.6,98.0,0.9153,56.4,47.3,18.4,17.1,...,25.8,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3,1
9,7,10,21,111.9,96.3,0.8490,50.7,46.7,18.8,17.2,...,25.9,29.1,23.1,50.8,46.8,33.7,31.1,65.6,1.9,0
10,7,10,21,116.4,100.6,0.8426,52.0,48.5,17.1,16.6,...,26.0,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2,1
11,2,15,22,117.5,96.3,0.9079,53.6,48.8,16.7,22.6,...,29.2,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8,1
12,2,15,22,123.8,100.8,0.9142,53.1,51.0,18.0,19.7,...,30.1,37.6,31.3,51.5,53.0,36.8,31.9,67.1,6.4,1
13,1,16,24,115.7,94.5,0.9114,52.9,46.9,17.6,20.6,...,28.8,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2,1
14,8,9,19,112.7,93.3,0.8978,52.7,45.8,18.2,20.7,...,27.5,38.1,37.4,54.6,45.4,31.9,31.2,69.9,1.3,0
15,8,9,21,119.2,105.5,0.8028,55.4,51.9,16.4,24.5,...,38.1,30.9,35.8,55.9,51.1,36.5,35.4,69.8,2.9,0
16,5,12,23,119.1,103.5,0.8349,55.0,50.9,16.4,18.5,...,29.4,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4,1
17,5,12,25,114.1,90.9,0.9317,52.8,45.9,16.3,19.3,...,21.7,30.2,29.9,51.4,44.8,36.8,32.2,62.3,3.6,0
18,4,13,22,119.7,96.3,0.9241,53.0,45.4,18.7,19.7,...,25.9,33.1,40.0,52.6,45.7,35.6,29.8,67.5,4.0,0
19,4,13,21,111.0,96.2,0.8386,51.3,48.8,13.8,19.8,...,24.8,34.5,25.0,49.5,46.6,36.3,34.7,61.8,3.2,0
20,6,11,18,114.9,95.2,0.8969,53.8,47.4,16.6,14.7,...,22.9,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3,1
21,6,11,17,109.8,92.8,0.8742,50.5,49.7,19.2,25.4,...,27.0,27.6,40.2,50.6,49.7,33.5,33.1,64.3,1.3,0
22,3,14,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,...,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0,1
23,3,14,25,124.8,101.7,0.9127,57.9,52.2,14.8,18.8,...,25.4,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0,1
24,7,10,17,112.9,96.5,0.8595,51.2,47.2,16.7,14.8,...,25.6,25.8,29.1,48.0,48.3,38.5,30.4,65.1,1.9,0
25,7,10,20,114.5,97.8,0.8597,51.5,47.1,16.3,18.3,...,27.2,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8,1
26,2,15,22,112.0,94.2,0.8794,51.1,47.0,19.7,21.1,...,29.6,38.2,37.2,51.4,48.9,33.7,29.1,69.8,5.0,1
27,2,15,25,114.6,89.8,0.9425,51.6,46.5,15.3,24.3,...,28.3,25.5,26.8,50.9,46.9,35.4,30.7,66.5,6.8,1
28,1,16,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,1
29,6,11,20,118.1,101.0,0.8579,51.7,48.9,17.1,17.2,...,25.2,30.7,29.2,50.2,48.6,36.8,32.9,65.8,2.5,0
30,1,16,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1
31,6,11,20,110.5,96.0,0.8338,47.5,48.4,15.0,21.7,...,27.6,30.4,30.8,47.3,46.5,32.0,33.9,65.3,2.0,0

In [73]:
# Create a column of winning teams
Winner1 = []
for i in range(len(round_one_combined_df)):
    if round_one_combined_df.loc[i,"Team1Wins"] == 1:
        Winner1.append(round_one.loc[i,"TEAM"])
    else:
        Winner1.append(round_one.loc[i,"TEAM.1"])
        
Winner1

['Houston',
 'Iowa',
 'Illinois',
 'Oral Roberts',
 'Bradley',
 'Indiana',
 'Utah Valley',
 'Marquette',
 'Arizona',
 'USC',
 'Providence',
 'Texas',
 'Baylor',
 'Kansas',
 'Pittsburgh',
 'Rutgers',
 'Miami FL',
 'VCU',
 'Yale',
 'Hofstra',
 'Creighton',
 'Auburn',
 'Tennessee',
 'Gonzaga',
 'Florida Atlantic',
 'Maryland',
 'Kansas St.',
 'UCLA',
 'Alabama',
 'Wisconsin',
 'Purdue',
 'Boise St.']

In [74]:
# Add column of winning teams to dataframe
round_one_combined_df["Winner"] = Winner1
round_one_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,1,16,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1,Houston
1,8,9,18,120.5,106.3,0.8084,51.8,53.0,14.2,18.7,...,32.7,23.6,52.3,52.4,33.9,36.1,70.2,0.6,1,Iowa
2,8,9,21,116.4,97.2,0.8883,49.9,47.8,18.6,20.8,...,46.7,36.9,50.0,47.0,33.1,32.4,66.4,2.1,0,Illinois
3,5,12,23,115.1,93.2,0.9182,51.2,48.3,17.8,19.8,...,34.3,30.8,50.6,51.5,34.9,29.0,66.9,5.2,0,Oral Roberts
4,5,12,19,113.4,95.4,0.8792,50.7,47.8,17.0,22.3,...,34.6,29.2,53.6,48.7,29.1,30.7,70.3,2.1,0,Bradley
5,4,13,20,115.5,98.1,0.8668,54.4,46.9,17.6,16.6,...,30.0,29.9,53.3,46.0,38.2,32.1,68.5,3.4,1,Indiana
6,4,13,21,119.6,100.4,0.8821,56.0,50.5,17.9,16.9,...,30.7,26.8,54.4,48.6,39.6,36.1,71.2,3.5,0,Utah Valley
7,3,14,23,120.7,100.3,0.8934,56.6,52.0,15.2,23.0,...,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2,1,Marquette
8,3,14,24,120.6,98.0,0.9153,56.4,47.3,18.4,17.1,...,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3,1,Arizona
9,7,10,21,111.9,96.3,0.8490,50.7,46.7,18.8,17.2,...,29.1,23.1,50.8,46.8,33.7,31.1,65.6,1.9,0,USC
10,7,10,21,116.4,100.6,0.8426,52.0,48.5,17.1,16.6,...,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2,1,Providence
11,2,15,22,117.5,96.3,0.9079,53.6,48.8,16.7,22.6,...,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8,1,Texas
12,2,15,22,123.8,100.8,0.9142,53.1,51.0,18.0,19.7,...,37.6,31.3,51.5,53.0,36.8,31.9,67.1,6.4,1,Baylor
13,1,16,24,115.7,94.5,0.9114,52.9,46.9,17.6,20.6,...,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2,1,Kansas
14,8,9,19,112.7,93.3,0.8978,52.7,45.8,18.2,20.7,...,38.1,37.4,54.6,45.4,31.9,31.2,69.9,1.3,0,Pittsburgh
15,8,9,21,119.2,105.5,0.8028,55.4,51.9,16.4,24.5,...,30.9,35.8,55.9,51.1,36.5,35.4,69.8,2.9,0,Rutgers
16,5,12,23,119.1,103.5,0.8349,55.0,50.9,16.4,18.5,...,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4,1,Miami FL
17,5,12,25,114.1,90.9,0.9317,52.8,45.9,16.3,19.3,...,30.2,29.9,51.4,44.8,36.8,32.2,62.3,3.6,0,VCU
18,4,13,22,119.7,96.3,0.9241,53.0,45.4,18.7,19.7,...,33.1,40.0,52.6,45.7,35.6,29.8,67.5,4.0,0,Yale
19,4,13,21,111.0,96.2,0.8386,51.3,48.8,13.8,19.8,...,34.5,25.0,49.5,46.6,36.3,34.7,61.8,3.2,0,Hofstra
20,6,11,18,114.9,95.2,0.8969,53.8,47.4,16.6,14.7,...,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3,1,Creighton
21,6,11,17,109.8,92.8,0.8742,50.5,49.7,19.2,25.4,...,27.6,40.2,50.6,49.7,33.5,33.1,64.3,1.3,0,Auburn
22,3,14,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,...,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0,1,Tennessee
23,3,14,25,124.8,101.7,0.9127,57.9,52.2,14.8,18.8,...,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0,1,Gonzaga
24,7,10,17,112.9,96.5,0.8595,51.2,47.2,16.7,14.8,...,25.8,29.1,48.0,48.3,38.5,30.4,65.1,1.9,0,Florida Atlantic
25,7,10,20,114.5,97.8,0.8597,51.5,47.1,16.3,18.3,...,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8,1,Maryland
26,2,15,22,112.0,94.2,0.8794,51.1,47.0,19.7,21.1,...,38.2,37.2,51.4,48.9,33.7,29.1,69.8,5.0,1,Kansas St.
27,2,15,25,114.6,89.8,0.9425,51.6,46.5,15.3,24.3,...,25.5,26.8,50.9,46.9,35.4,30.7,66.5,6.8,1,UCLA
28,1,16,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,1,Alabama
29,6,11,20,118.1,101.0,0.8579,51.7,48.9,17.1,17.2,...,30.7,29.2,50.2,48.6,36.8,32.9,65.8,2.5,0,Wisconsin
30,1,16,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1,Purdue
31,6,11,20,110.5,96.0,0.8338,47.5,48.4,15.0,21.7,...,30.4,30.8,47.3,46.5,32.0,33.9,65.3,2.0,0,Boise St.

In [75]:
round_one_combined_df.to_csv('round_one_combined_df.csv')

## Round 2

In [76]:
# Read in the second round matchups
round_two = pd.read_csv('Data/round_two_xgboost.csv')
round_two

    SEED              TEAM  SEED.1       TEAM.1
0      1           Alabama       9         Iowa
1      1           Houston       9     Illinois
2      5      Oral Roberts      13      Indiana
3     12           Bradley      13  Utah Valley
4     11         Wisconsin       3    Marquette
5     11         Boise St.       3      Arizona
6     10               USC       2        Texas
7     10        Providence      15       Baylor
8      1            Purdue       9   Pittsburgh
9      1            Kansas       9      Rutgers
10    12          Miami FL       4         Yale
11     5               VCU      13      Hofstra
12     6         Creighton       3    Tennessee
13    11            Auburn       3      Gonzaga
14    15  Florida Atlantic      15   Kansas St.
15    10          Maryland       2         UCLA

In [77]:
# Create combined dataframe for round two
round_two_combined_df = round_two.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_two_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,1,Alabama,9,Iowa,25,118.4,91.4,0.9515,53.4,41.8,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
1,1,Houston,9,Illinois,27,121.4,91.8,0.9610,53.7,42.0,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
2,5,Oral Roberts,13,Indiana,27,113.9,103.2,0.7569,56.2,49.0,...,23.8,26.7,24.1,22.1,56.3,46.7,37.4,34.8,70.8,1.8
3,12,Bradley,13,Utah Valley,23,108.5,97.5,0.7725,53.6,45.9,...,29.6,24.2,26.7,31.3,52.8,45.2,36.5,31.4,65.6,-0.8
4,11,Wisconsin,3,Marquette,16,106.4,95.8,0.7697,48.8,49.6,...,21.7,25.0,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0
5,11,Boise St.,3,Arizona,22,109.8,94.1,0.8543,51.8,46.3,...,26.2,23.7,30.2,27.4,50.9,47.0,35.5,29.9,67.3,2.4
6,10,USC,2,Texas,21,113.6,98.6,0.8360,51.7,44.9,...,28.3,32.6,32.7,28.5,51.7,42.3,34.4,32.9,68.5,2.6
7,10,Providence,15,Baylor,21,116.4,100.6,0.8426,52.0,48.5,...,35.3,26.0,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2
8,1,Purdue,9,Pittsburgh,24,119.1,94.4,0.9351,52.3,46.8,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
9,1,Kansas,9,Rutgers,24,115.7,94.5,0.9114,52.9,46.9,...,29.9,28.8,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2
10,12,Miami FL,4,Yale,23,119.1,103.5,0.8349,55.0,50.9,...,32.0,29.4,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4
11,5,VCU,13,Hofstra,22,105.6,95.1,0.7684,51.4,47.3,...,29.3,29.9,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1
12,6,Creighton,3,Tennessee,18,114.9,95.2,0.8969,53.8,47.4,...,25.5,22.9,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3
13,11,Auburn,3,Gonzaga,19,111.6,94.8,0.8681,49.0,44.7,...,34.0,31.5,34.9,38.7,51.0,45.8,30.2,28.4,68.1,1.3
14,15,Florida Atlantic,15,Kansas St.,26,113.2,98.6,0.8294,54.8,46.5,...,30.4,24.6,29.6,27.4,53.6,44.8,37.4,33.2,68.5,3.1
15,10,Maryland,2,UCLA,20,114.5,97.8,0.8597,51.5,47.1,...,30.2,27.2,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8

In [78]:
# Drop the TEAM and TEAM.1 columns
round_two_combined_df = round_two_combined_df.drop(columns=['TEAM','TEAM.1'])
round_two_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,1,9,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
1,1,9,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
2,5,13,27,113.9,103.2,0.7569,56.2,49.0,13.4,17.6,...,23.8,26.7,24.1,22.1,56.3,46.7,37.4,34.8,70.8,1.8
3,12,13,23,108.5,97.5,0.7725,53.6,45.9,18.4,19.9,...,29.6,24.2,26.7,31.3,52.8,45.2,36.5,31.4,65.6,-0.8
4,11,3,16,106.4,95.8,0.7697,48.8,49.6,13.4,18.4,...,21.7,25.0,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0
5,11,3,22,109.8,94.1,0.8543,51.8,46.3,16.8,17.6,...,26.2,23.7,30.2,27.4,50.9,47.0,35.5,29.9,67.3,2.4
6,10,2,21,113.6,98.6,0.8360,51.7,44.9,18.0,18.5,...,28.3,32.6,32.7,28.5,51.7,42.3,34.4,32.9,68.5,2.6
7,10,15,21,116.4,100.6,0.8426,52.0,48.5,17.1,16.6,...,35.3,26.0,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2
8,1,9,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
9,1,9,24,115.7,94.5,0.9114,52.9,46.9,17.6,20.6,...,29.9,28.8,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2
10,12,4,23,119.1,103.5,0.8349,55.0,50.9,16.4,18.5,...,32.0,29.4,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4
11,5,13,22,105.6,95.1,0.7684,51.4,47.3,20.2,24.8,...,29.3,29.9,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1
12,6,3,18,114.9,95.2,0.8969,53.8,47.4,16.6,14.7,...,25.5,22.9,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3
13,11,3,19,111.6,94.8,0.8681,49.0,44.7,18.3,19.2,...,34.0,31.5,34.9,38.7,51.0,45.8,30.2,28.4,68.1,1.3
14,15,15,26,113.2,98.6,0.8294,54.8,46.5,16.7,18.5,...,30.4,24.6,29.6,27.4,53.6,44.8,37.4,33.2,68.5,3.1
15,10,2,20,114.5,97.8,0.8597,51.5,47.1,16.3,18.3,...,30.2,27.2,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8

## Use Our Model to Predict Round 2

In [79]:
round_two_predictions = march_madness_classifier.predict(round_two_combined_df)
round_two_combined_df["Team1Wins"] = round_two_predictions
round_two_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,1,9,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,1
1,1,9,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1
2,5,13,27,113.9,103.2,0.7569,56.2,49.0,13.4,17.6,...,26.7,24.1,22.1,56.3,46.7,37.4,34.8,70.8,1.8,1
3,12,13,23,108.5,97.5,0.7725,53.6,45.9,18.4,19.9,...,24.2,26.7,31.3,52.8,45.2,36.5,31.4,65.6,-0.8,1
4,11,3,16,106.4,95.8,0.7697,48.8,49.6,13.4,18.4,...,25.0,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0,0
5,11,3,22,109.8,94.1,0.8543,51.8,46.3,16.8,17.6,...,23.7,30.2,27.4,50.9,47.0,35.5,29.9,67.3,2.4,0
6,10,2,21,113.6,98.6,0.8360,51.7,44.9,18.0,18.5,...,32.6,32.7,28.5,51.7,42.3,34.4,32.9,68.5,2.6,0
7,10,15,21,116.4,100.6,0.8426,52.0,48.5,17.1,16.6,...,26.0,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2,1
8,1,9,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1
9,1,9,24,115.7,94.5,0.9114,52.9,46.9,17.6,20.6,...,28.8,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2,0
10,12,4,23,119.1,103.5,0.8349,55.0,50.9,16.4,18.5,...,29.4,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4,0
11,5,13,22,105.6,95.1,0.7684,51.4,47.3,20.2,24.8,...,29.9,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1,1
12,6,3,18,114.9,95.2,0.8969,53.8,47.4,16.6,14.7,...,22.9,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3,0
13,11,3,19,111.6,94.8,0.8681,49.0,44.7,18.3,19.2,...,31.5,34.9,38.7,51.0,45.8,30.2,28.4,68.1,1.3,0
14,15,15,26,113.2,98.6,0.8294,54.8,46.5,16.7,18.5,...,24.6,29.6,27.4,53.6,44.8,37.4,33.2,68.5,3.1,1
15,10,2,20,114.5,97.8,0.8597,51.5,47.1,16.3,18.3,...,27.2,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8,0

In [80]:
# Create a column of winning teams
Winner2 = []
for i in range(len(round_two_combined_df)):
    if round_two_combined_df.loc[i,"Team1Wins"] == 1:
        Winner2.append(round_two.loc[i,"TEAM"])
    else:
        Winner2.append(round_two.loc[i,"TEAM.1"])
        
Winner2

['Alabama',
 'Houston',
 'Oral Roberts',
 'Bradley',
 'Marquette',
 'Arizona',
 'Texas',
 'Providence',
 'Purdue',
 'Rutgers',
 'Yale',
 'VCU',
 'Tennessee',
 'Gonzaga',
 'Florida Atlantic',
 'UCLA']

In [81]:
# Add column of winning teams to dataframe
round_two_combined_df["Winner"] = Winner2
round_two_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,1,9,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,1,Alabama
1,1,9,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1,Houston
2,5,13,27,113.9,103.2,0.7569,56.2,49.0,13.4,17.6,...,24.1,22.1,56.3,46.7,37.4,34.8,70.8,1.8,1,Oral Roberts
3,12,13,23,108.5,97.5,0.7725,53.6,45.9,18.4,19.9,...,26.7,31.3,52.8,45.2,36.5,31.4,65.6,-0.8,1,Bradley
4,11,3,16,106.4,95.8,0.7697,48.8,49.6,13.4,18.4,...,24.2,26.8,45.8,50.3,35.5,32.3,62.9,0.0,0,Marquette
5,11,3,22,109.8,94.1,0.8543,51.8,46.3,16.8,17.6,...,30.2,27.4,50.9,47.0,35.5,29.9,67.3,2.4,0,Arizona
6,10,2,21,113.6,98.6,0.8360,51.7,44.9,18.0,18.5,...,32.7,28.5,51.7,42.3,34.4,32.9,68.5,2.6,0,Texas
7,10,15,21,116.4,100.6,0.8426,52.0,48.5,17.1,16.6,...,36.9,25.5,51.3,48.6,35.7,32.2,67.6,2.2,1,Providence
8,1,9,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1,Purdue
9,1,9,24,115.7,94.5,0.9114,52.9,46.9,17.6,20.6,...,29.9,32.2,52.9,46.3,35.4,32.0,69.6,9.2,0,Rutgers
10,12,4,23,119.1,103.5,0.8349,55.0,50.9,16.4,18.5,...,30.2,23.4,54.8,51.9,36.9,32.7,69.0,3.4,0,Yale
11,5,13,22,105.6,95.1,0.7684,51.4,47.3,20.2,24.8,...,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1,1,VCU
12,6,3,18,114.9,95.2,0.8969,53.8,47.4,16.6,14.7,...,27.9,19.7,55.0,45.9,34.7,34.0,67.7,1.3,0,Tennessee
13,11,3,19,111.6,94.8,0.8681,49.0,44.7,18.3,19.2,...,34.9,38.7,51.0,45.8,30.2,28.4,68.1,1.3,0,Gonzaga
14,15,15,26,113.2,98.6,0.8294,54.8,46.5,16.7,18.5,...,29.6,27.4,53.6,44.8,37.4,33.2,68.5,3.1,1,Florida Atlantic
15,10,2,20,114.5,97.8,0.8597,51.5,47.1,16.3,18.3,...,34.5,27.6,53.2,47.0,32.4,31.4,65.2,1.8,0,UCLA

In [82]:
round_two_combined_df.to_csv('round_two_combined_df.csv')

## Round 3 (Sweet Sixteen)

In [83]:
# Read in the third round matchups
round_three = pd.read_csv('Data/round_three_xgboost.csv')
round_three

   SEED       TEAM  SEED.1            TEAM.1
0     9    Alabama       5      Oral Roberts
1     1    Houston      12           Bradley
2     3  Marquette       2             Texas
3     3    Arizona      10        Providence
4     9     Purdue       4              Yale
5     9    Rutgers       5               VCU
6     3  Tennessee      10  Florida Atlantic
7     3    Gonzaga       2              UCLA

In [84]:
# Create combined dataframe for round three
round_three_combined_df = round_three.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_three_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,9,Alabama,5,Oral Roberts,25,118.4,91.4,0.9515,53.4,41.8,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
1,1,Houston,12,Bradley,27,121.4,91.8,0.9610,53.7,42.0,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
2,3,Marquette,2,Texas,23,120.7,100.3,0.8934,56.6,52.0,...,26.8,31.4,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2
3,3,Arizona,10,Providence,24,120.6,98.0,0.9153,56.4,47.3,...,31.9,25.8,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3
4,9,Purdue,4,Yale,24,119.1,94.4,0.9351,52.3,46.8,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
5,9,Rutgers,5,VCU,18,105.4,90.9,0.8468,48.0,45.2,...,31.5,27.0,28.4,26.7,47.7,45.7,32.4,29.7,66.2,-0.2
6,3,Tennessee,10,Florida Atlantic,21,112.0,87.9,0.9417,49.8,41.0,...,37.5,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0
7,3,Gonzaga,2,UCLA,25,124.8,101.7,0.9127,57.9,52.2,...,30.9,25.4,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0

In [85]:
# Drop the TEAM and TEAM.1 columns
round_three_combined_df = round_three_combined_df.drop(columns=['TEAM','TEAM.1'])
round_three_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,9,5,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
1,1,12,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
2,3,2,23,120.7,100.3,0.8934,56.6,52.0,15.2,23.0,...,26.8,31.4,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2
3,3,10,24,120.6,98.0,0.9153,56.4,47.3,18.4,17.1,...,31.9,25.8,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3
4,9,4,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
5,9,5,18,105.4,90.9,0.8468,48.0,45.2,17.1,21.8,...,31.5,27.0,28.4,26.7,47.7,45.7,32.4,29.7,66.2,-0.2
6,3,10,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,...,37.5,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0
7,3,2,25,124.8,101.7,0.9127,57.9,52.2,14.8,18.8,...,30.9,25.4,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0

## Use Our Model to Predict Round 3

In [86]:
round_three_predictions = march_madness_classifier.predict(round_three_combined_df)
round_three_combined_df["Team1Wins"] = round_three_predictions
round_three_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,9,5,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,1
1,1,12,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1
2,3,2,23,120.7,100.3,0.8934,56.6,52.0,15.2,23.0,...,31.4,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2,0
3,3,10,24,120.6,98.0,0.9153,56.4,47.3,18.4,17.1,...,25.8,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3,0
4,9,4,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1
5,9,5,18,105.4,90.9,0.8468,48.0,45.2,17.1,21.8,...,27.0,28.4,26.7,47.7,45.7,32.4,29.7,66.2,-0.2,0
6,3,10,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,...,27.8,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0,1
7,3,2,25,124.8,101.7,0.9127,57.9,52.2,14.8,18.8,...,25.4,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0,0

In [87]:
# Create a column of winning teams
Winner3 = []
for i in range(len(round_three_combined_df)):
    if round_three_combined_df.loc[i,"Team1Wins"] == 1:
        Winner3.append(round_three.loc[i,"TEAM"])
    else:
        Winner3.append(round_three.loc[i,"TEAM.1"])
        
Winner3

['Alabama',
 'Houston',
 'Texas',
 'Providence',
 'Purdue',
 'VCU',
 'Tennessee',
 'UCLA']

In [88]:
# Add column of winning teams to dataframe
round_three_combined_df["Winner"] = Winner3
round_three_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,9,5,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,1,Alabama
1,1,12,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1,Houston
2,3,2,23,120.7,100.3,0.8934,56.6,52.0,15.2,23.0,...,27.4,29.4,59.1,51.2,35.4,35.6,69.6,5.2,0,Texas
3,3,10,24,120.6,98.0,0.9153,56.4,47.3,18.4,17.1,...,37.0,25.4,56.6,46.2,37.4,32.8,72.8,5.3,0,Providence
4,9,4,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1,Purdue
5,9,5,18,105.4,90.9,0.8468,48.0,45.2,17.1,21.8,...,28.4,26.7,47.7,45.7,32.4,29.7,66.2,-0.2,0,VCU
6,3,10,21,112.0,87.9,0.9417,49.8,41.0,18.1,23.1,...,30.6,35.5,50.5,43.8,32.4,24.7,66.0,3.0,1,Tennessee
7,3,2,25,124.8,101.7,0.9127,57.9,52.2,14.8,18.8,...,33.8,27.9,58.9,51.9,37.2,35.2,70.5,6.0,0,UCLA

In [89]:
round_three_combined_df.to_csv('round_three_combined_df.csv')

## Round 4 (Elite Eight)

In [90]:
# Read in the fourth round matchups
round_four = pd.read_csv('Data/round_four_xgboost.csv')
round_four

   SEED     TEAM  SEED.1      TEAM.1
0     5  Alabama       2       Texas
1     1  Houston      10  Providence
2     4   Purdue       3   Tennessee
3     5      VCU       2        UCLA

In [91]:
# Create combined dataframe for round four
round_four_combined_df = round_four.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_four_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,5,Alabama,2,Texas,25,118.4,91.4,0.9515,53.4,41.8,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
1,1,Houston,10,Providence,27,121.4,91.8,0.9610,53.7,42.0,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
2,4,Purdue,3,Tennessee,24,119.1,94.4,0.9351,52.3,46.8,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
3,5,VCU,2,UCLA,22,105.6,95.1,0.7684,51.4,47.3,...,29.3,29.9,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1

In [92]:
# Drop the TEAM and TEAM.1 columns
round_four_combined_df = round_four_combined_df.drop(columns=['TEAM','TEAM.1'])
round_four_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,5,2,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,33.2,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6
1,1,10,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0
2,4,3,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5
3,5,2,22,105.6,95.1,0.7684,51.4,47.3,20.2,24.8,...,29.3,29.9,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1

## Use Our Model to Predict Round 4

In [93]:
round_four_predictions = march_madness_classifier.predict(round_four_combined_df)
round_four_combined_df["Team1Wins"] = round_four_predictions
round_four_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,5,2,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,27.4,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,0
1,1,10,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1
2,4,3,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1
3,5,2,22,105.6,95.1,0.7684,51.4,47.3,20.2,24.8,...,29.9,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1,0

In [94]:
# Create a column of winning teams
Winner4 = []
for i in range(len(round_four_combined_df)):
    if round_four_combined_df.loc[i,"Team1Wins"] == 1:
        Winner4.append(round_four.loc[i,"TEAM"])
    else:
        Winner4.append(round_four.loc[i,"TEAM.1"])
        
Winner4

['Texas', 'Houston', 'Purdue', 'UCLA']

In [95]:
# Add column of winning teams to dataframe
round_four_combined_df["Winner"] = Winner4
round_four_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,5,2,25,118.4,91.4,0.9515,53.4,41.8,18.9,15.7,...,38.6,32.8,54.5,42.1,34.8,27.4,73.5,8.6,0,Texas
1,1,10,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1,Houston
2,4,3,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1,Purdue
3,5,2,22,105.6,95.1,0.7684,51.4,47.3,20.2,24.8,...,42.2,30.8,51.8,46.5,33.7,32.4,68.4,-0.1,0,UCLA

In [96]:
round_four_combined_df.to_csv('round_four_combined_df.csv')

## Round 5 (Final Four)

In [97]:
# Read in the fifth round matchups
round_five = pd.read_csv('Data/round_five_xgboost.csv')
round_five

   SEED     TEAM  SEED.1  TEAM.1
0     2    Texas       3  Purdue
1     3  Houston       2    UCLA

In [98]:
# Create combined dataframe for round five
round_five_combined_df = round_five.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_five_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,2,Texas,3,Purdue,22,117.5,96.3,0.9079,53.6,48.8,...,29.0,29.2,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8
1,3,Houston,2,UCLA,27,121.4,91.8,0.9610,53.7,42.0,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0

In [99]:
# Drop the TEAM and TEAM.1 columns
round_five_combined_df = round_five_combined_df.drop(columns=['TEAM','TEAM.1'])
round_five_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,2,3,22,117.5,96.3,0.9079,53.6,48.8,16.7,22.6,...,29.0,29.2,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8
1,3,2,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,38.1,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0

## Use Our Model to Predict Round 5

In [100]:
round_five_predictions = march_madness_classifier.predict(round_five_combined_df)
round_five_combined_df["Team1Wins"] = round_five_predictions
round_five_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,2,3,22,117.5,96.3,0.9079,53.6,48.8,16.7,22.6,...,29.2,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8,0
1,3,2,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.9,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1

In [101]:
# Create a column of winning teams
Winner5 = []
for i in range(len(round_five_combined_df)):
    if round_five_combined_df.loc[i,"Team1Wins"] == 1:
        Winner5.append(round_five.loc[i,"TEAM"])
    else:
        Winner5.append(round_five.loc[i,"TEAM.1"])
        
Winner5

['Purdue', 'Houston']

In [102]:
# Add column of winning teams to dataframe
round_five_combined_df["Winner"] = Winner5
round_five_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,2,3,22,117.5,96.3,0.9079,53.6,48.8,16.7,22.6,...,31.3,35.3,54.5,48.3,34.7,33.2,69.4,5.8,0,Purdue
1,3,2,27,121.4,91.8,0.9610,53.7,42.0,15.1,22.2,...,27.4,34.1,54.2,42.6,35.1,27.5,63.3,7.0,1,Houston

In [103]:
round_five_combined_df.to_csv('round_five_combined_df.csv')

## Round 6 (Championship Game)

In [104]:
# Read in the sixth round matchup
round_six = pd.read_csv('Data/round_six_xgboost.csv')
round_six

   SEED    TEAM  SEED.1   TEAM.1
0     3  Purdue       2  Houston

In [105]:
# Create combined dataframe for round six
round_six_combined_df = round_six.merge(year_23.add_prefix('Team1'), how='left', left_on=['TEAM'], 
                                        right_on=['Team1TEAM']).drop(['Team1TEAM'], axis=1).merge(year_23.add_prefix('Team2'), 
                                        how='left', left_on=['TEAM'], right_on=['Team2TEAM']).drop(['Team2TEAM'],axis=1)
round_six_combined_df

,SEED,TEAM,SEED.1,TEAM.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,3,Purdue,2,Houston,24,119.1,94.4,0.9351,52.3,46.8,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5

In [106]:
# Drop the TEAM and TEAM.1 columns
round_six_combined_df = round_six_combined_df.drop(columns=['TEAM','TEAM.1'])
round_six_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2ORB,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB
0,3,2,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,38.4,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5

## Use Our Model to Predict Round 6 (Championship Game)

In [107]:
round_six_predictions = march_madness_classifier.predict(round_six_combined_df)
round_six_combined_df["Team1Wins"] = round_six_predictions
round_six_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2DRB,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins
0,3,2,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,23.0,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1

In [108]:
# Create a column of winning teams
Winner6 = []
for i in range(len(round_six_combined_df)):
    if round_six_combined_df.loc[i,"Team1Wins"] == 1:
        Winner6.append(round_six.loc[i,"TEAM"])
    else:
        Winner6.append(round_six.loc[i,"TEAM.1"])
        
Winner6

['Purdue']

In [109]:
# Add column of winning teams to dataframe
round_six_combined_df["Winner"] = Winner6
round_six_combined_df

,SEED,SEED.1,Team1W,Team1ADJOE,Team1ADJDE,Team1BARTHAG,Team1EFG_O,Team1EFG_D,Team1TOR,Team1TORD,...,Team2FTR,Team2FTRD,Team22P_O,Team22P_D,Team23P_O,Team23P_D,Team2ADJ_T,Team2WAB,Team1Wins,Winner
0,3,2,24,119.1,94.4,0.9351,52.3,46.8,17.3,15.4,...,36.3,18.1,53.9,47.4,33.1,30.5,64.3,6.5,1,Purdue

## XGBoost Model Predicts Purdue as the 2023 NCAA Basketball Champions!!